[Desktop Entry]
Name=Camp Counselor
Comment=Bandcamp Wishlist Manager
Exec=campcounselor
TryExec=campcounselor
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=net.line72.campcounselor
Categories=GNOME;GTK;Utility
